<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>cycloss</id>
      <username>prasanjitnaha2020</username>
      <password>4gewfftsahy5z3x2hj6jh4cpukzxkfevtqirwbbv237elgcqh6xq</password>
    </server>


 
  <server>
    <id>my-repo-bucket-release</id>
    <username>cyclosstorage</username>
    <password>yuDxQ3Z5qUbO+1qVRbO4Q1eVhoxPuRfx5ST45gbKTKxIxZ887U7NI8LZho9dQBwXZSoEiccCmOIA0DUjenOaFQ==</password>
  </server>	

  </servers>
</settings>