<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>cycloss</id>
      <username>prasanjitnaha2020</username>
      <password>5ow6cbms7iltht325cvx2as74n2g4eukkxsnqw2qd6xrcsyvulkq</password>
    </server>
  </servers>
</settings>